/* layout */
body, html, :global(.react-app)
  width: 100%
  height: 100%
  overflow: hidden
\:global(.react-app)
  position: relative
.layout, .header, .footer
  position: absolute
  left: 0
  right: 0
.layout
  top: 0
  bottom: 0
  background-color: #fff
.header
  top: 0
  height: 50px
  color: #fff
  background-color: #f5222d
.footer
  bottom: 0
  height: 30px
  line-height: 30px
  background-color: #ddd
  text-align: center
.header, .footer
  padding: 0 20px